body
{
    color: rgb(107, 31, 107);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid  black;
    margin: 0 auto;
}

#copntainer h1
{
    font-size: 20px;
}