body
{
    background: rgb(255, 255, 255);
    color: rgb(219, 181, 219);
    text-align: center;
    font-family: Courier;
    font-size: 16px;
}

#header
{
    background: rgb(67, 18, 112);
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 2px 8px 40px 0px rgb(63, 4, 97);
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-size: 30px;
}

#header #logo
{
    width: 20%;
}

#header #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid  black;
    margin: 0 auto;
}

#copntainer h1
{
    font-size: 20px;
}

#post
{
    background: rgb(38, 2, 104);
    padding: 1em;
}